.navbar {
  font-family: Arial, sans-serif; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*text-transform: uppercase; */
  background-color: rgb(255, 255, 255);
  color: #000000;
  padding: 10px;
  font-size: 17px;
}

.nav-link {
 
  color: black;
  text-decoration: none;
  margin: 10px;
}

.category-select {
  justify-content: space-between;
  align-items: center;
  color: #000000;
 
  outline: none;
  -moz-appearance: none;
  appearance: none;
}

.category-select option {
  background-color: white;
  color: black;
}



.dropdown-content {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-dropdown {
  position: relative;
  
}

.navbar-dropdown-content {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 200px;
  border-radius: 4px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: none;
  z-index: 2;
  
}

.navbar-dropdown:hover .navbar-dropdown-content {
  display: block;
}

.navbar-dropdown-content a {
  display: block;
  font-size: 14px;
  font-weight: normal;
  padding: 6px 12px;
  color: black;
  text-decoration: none;
  
}

.navbar-dropdown-content a:hover {
  background-color: #F7F7F7 #0d0d0d;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F7F7F7;
}
.input-container {
  width: 220px;
  position: relative;
}

.icon {
  position: absolute;
  right: 10px;
  top: calc(50% + 5px);
  transform: translateY(calc(-50% - 5px));
}

.input {
  width: 100%;
  height: 40px;
  padding: 10px;
  transition: .2s linear;
  border: 2.5px solid black;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.input:focus {
  outline: none;
  border: 0.5px solid black;
  box-shadow: -5px -5px 0px rgb(245, 245, 245);
}

.input-container:hover > .icon {
  animation: anim 1s linear infinite;
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}.input-container {
  width: 220px;
  position: relative;
}

.icon {
  position: absolute;
  right: 10px;
  top: calc(50% + 5px);
  transform: translateY(calc(-50% - 5px));
}

.input {
  width: 100%;
  height: 40px;
  padding: 10px;
  transition: .2s linear;
  border: 2.5px solid black;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.input:focus {
  outline: none;
  border: 0.5px solid black;
  box-shadow: -5px -5px 0px black;
}

.input-container:hover > .icon {
  animation: anim 1s linear infinite;
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}
