.footer {
  background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    font-size: 16px;
    color: #ffffff;
  
  }
  
  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 90%;
    color: #ffffff;
  
  }
  
  .footer__social-media {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer__social-media a {
    color: #c0bdbd;
    font-size: 1.5rem;
    margin: 0 10px;
  }
  .footer__social-media a:hover {
    color: #fff;
  }
  
  
  .footer__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-start: 10px;
    background: -webkit-linear-gradient(to right, #fff, #1a1a1a);
    background: linear-gradient(to right, #fff, #1a1a1a);
    padding: 10px;
    border-radius: 10px;
    max-inline-size: 420px;
  }
  
  
  .title {
    font-size: 3rem;
    line-height:3rem;
    font-weight: 500;
    letter-spacing: -0.00999em;
    color: #000000;
  }
  
  .description {
    line-height: 1.5rem;
    font-size: 1rem;
    margin-top: 1rem;
    color: rgb(26, 28, 30);
  }
  
  .footer__form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    column-gap: 0.5rem;
  }
  
  .footer__form-input input {
    outline: none;
    line-height: 1.5rem;
    font-size: 0.875rem;
    color: rgb(0, 0, 0);
    padding: 0.5rem 0.875rem;
    background-color: rgba(253, 253, 253, 0.363);
    border: 1px solid rgba(253, 253, 253, 0.363);
    border-radius: 0.375rem;
  }
  .footer__copy {
    margin-top: 20px;
    font-size: 14px;
    color: #c0bdbd;
  }
  .footer button {
    color: #7b7979;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.625rem 0.875rem;
    background-color: rgb(18, 18, 19);
    border-radius: 0.375rem;
    border: none;
    outline: none;
  }
  .footer__column {
    display: inline-block;
    width: 10%;
  }
  
  .footer__column ul {
    list-style: none;
    padding: 0;
    color: #ffffff;
  
  }
  
  .footer__column ul li {
    margin: 10px 0;
    color: #ffffff;
  
    
  }
  
  .footer__column h4 {
    margin-bottom: 10px;
    color: #ffffff;
  
  }
  .footer-link {
    font-family: Arial, sans-serif; /* Change the font family to the desired font */
    color: #ffffff;
    ; /* Change the color of the link */
    text-decoration: none; /* Remove the underline */
    text-transform: uppercase; /* Make the text uppercase */
  }
  
  .footer-link:hover {
    color: #ffffff;
  }
